<div class="container" style="margin-bottom: 250px;">
  <div class="row">
    <div class="col">

      <h2>注文情報確認</h2>
      <% @sum = 0 %>

      <div class="row mt-3">
      <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>予約受付日</th>
            <th>撮影希望日</th>
            <th>撮影シーン</th>
            <th>撮影人数</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <% @reserves.each do |reserve| %>
          <tr>
            <td><%= reserve.created_at.strftime('%Y年%m月%d日') %></td>
            <td><%= reserve.reserve_day.strftime('%Y年%m月%d日') %></td>
            <td><%= reserve.plan_name_i18n %></td>
            <td><%= reserve.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <%= form_with model: @reserve, url: reserve_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :reserve_day, value: reserve.reserve_day %>
        <%= f.hidden_field :plan_name, value: reserve.plan_name %>
        <%= f.hidden_field :count, value: reserve.count %>
        <div class="text-center mt-5">
        <%= f.submit "注文を確定する", class: "btn" ,style: "background-color: #cbb05e; color: black;" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
</div>