<div class="container mt-5 mb-5 reserve-new">
  
    <h2>依頼情報入力</h2>

    <div class="reserve-new">
      
      <div class="validates">
        <% if @reserve.errors.any? %>
          <%= @reserve.errors.count %> 件の入力ミスがあります。
          <% @reserve.errors.full_messages.each do |message| %><br>
            ・<%= message %>
          <% end %>
        <% end %>
      </div>
      
      <%= form_with model: @reserve, url: confirm_reserves_path, local:true do |f| %>
        <table class="reserve">
          <tr>
            <th>氏名</th>
            <td>
              <%= current_customer.last_name %>
              <%= current_customer.first_name %>
            </td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td>
              <%= current_customer.last_name_kana %>
              <%= current_customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= current_customer.post_cord %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= current_customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= current_customer.phone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= current_customer.email %></td>
          </tr>
          <tr>
            <th>希望プラン</th>
            <td><%= f.select :plan_name, Reserve.plan_names.keys.map {|k| [I18n.t("enums.reserve.plan_name.#{k}"), k]}, :prompt => "選択してください" %></td>
          </tr>
          <tr>
            <th>撮影人数</th>
            <td><%= f.select :count, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10]], :prompt => "人数を選択してください" %>　※例) お友達2人と撮影希望⇨２人</td>
          </tr>
          <tr>
            <th>撮影希望日</th>
            <td><%= f.date_field :reserve_day %></td>
          </tr>
          <tr>
            <th>金額</th>
            <td>8000 円</td>
          </tr>
          <tr>
            <th><%= f.hidden_field :customer_id, value: current_customer.id %></th>
            <td><%= f.submit '確認画面に進む',class: "btn btn-sm btn-dark mt-3" %></td>
          </tr>
          <tr>
            <th></th>
            <td>※まだ確定ではありません</td>
          </tr>
        </table>
      <% end %>
         
    </div>

</div>