<div class="container login-page mt-5 mb-5">
  <div class="row login-page">
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0">
      <span class="alert"><%= alert %></span>
      <h2>管理者ログイン</h2>
      
      
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field mt-3">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field mt-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="actions mt-3">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      
      <%= render "admin/shared/links" %>
      
    </div>
  </div>
</div>
