<div class="flash">
	<%= flash[:notice] %>
</div>

<div class="container mt-5 mb-5 contact">

  <h2>お問い合わせ</h2>

  <div class="row md-5">

    <% if customer_signed_in? %>
      <div class="create-review offset-10">
        <%= link_to new_contact_path, class: "btn btn-dark plus" do %>
          <span class="material-icons md-24">add_box</span><i class="review-text"> 問い合わせする</i>
        <% end %>
      </div>
    <% end %>

    <table class="table mt-5 mb-5 contact-index">
      <thead>
        <tr>
          <th>質問内容</th>
          <th>回答</th>
        </tr>
      </thead>
      
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <% if contact.title_reply == nil %>
            <% else %>
              <td><%= contact.title_reply %></td>
            <% end %>
            
            <% if contact.detail_reply == nil %>
            <% else %>
              <td>
                <details>
                  <summary>詳細を開く</summary>
                  <p><%= contact.detail_reply %></p>
                </details>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  
  <div class="text-center mb-5">
    <%= paginate @contacts %>
  </div>

  <%= render "sns" %>

</div>
