<div class="flash">
	<%= flash[:notice] %>
</div>

<div class="container mt-5 mb-5 contact-new">

  <h2>お問い合わせフォーム</h2>

  <% if @contact.errors.any? %>
    <%= @contact.errors.count %>件のエラー<br>
    <% @contact.errors.full_messages.each do |message| %>
      ・<%= message %><br>
    <% end %>
  <% end %>

  <%= form_with model: @contact, url: contacts_path, local: true do |f| %>
    <%= f.label :タイトル, class: "mt-2" %>
      <%= f.text_field :title, class: "form-control form-title" %>
    <%= f.label :内容, class: "mt-4" %>
      <%= f.text_area :detail, class: "form-control form-detail" %>

    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :name, value: current_customer.last_name %>
    <%= f.hidden_field :email, value: current_customer.email %>

    <%= f.submit "送信", class: "btn btn-sm btn-dark mt-4" %>
  <% end %>

</div>