<div class="top-image">
  <%= image_tag 'child_top.png' %>
</div>

<div class="container mt-5 mb-5 bridal-show">
  
  <h3>結婚式-前撮り- について</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      結婚式の前撮りと言うと、式場等でドレスや着物を着用し撮影をするのが一般的かと思います。<br>
      それだけではなく、オープニングムービー用の素材撮影をすることで、より特別感の出るムービーにするお手伝いを致します。
    </p>
  </div>
  
  <h3>撮影事例</h3>
  <div class="row mt-3">
    <div class="col-md3">
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
    </div>
  </div>
  
</div>