<div class="top-image">
  <%= image_tag 'child_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">
  
  <h3>お子さまフォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      スマートフォンが普及している現代、お子さまの写真は普段からよく撮る機会があると思います。<br>
      ですが、やはりカメラマンが撮る写真は一味違います。ご家族の思い出として撮影してみませんか。
    </p>
  </div>
  
  <h3>撮影事例</h3>
  <div class="row justify-content-center mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'child8.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child2.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child3.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child4.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child5.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child6.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child1.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'child7.png', size: "250x250", class: 'plan-icon' %>
    </div>
  </div>
  
</div>

<%= render "reserve" %>