<div class="top-image">
  <%= image_tag 'couple_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">

  <h3>カップルフォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      カップルで撮る写真というと、<br>
      ・出かけた際には通りすがりの人にお願いして撮ってもらう。<br>
      ・タイマー機能やアイテムを使用してのセルフィーが定番だと思います。<br><br>
      ですが、「人通りが少なくて写真を頼めない！」、「アイテムが使えなくて思うような写真が撮れない！」<br>
      カメラマンに頼んで、思い出の場所や素敵な場所で、撮りたい時に思い出になる写真を撮ってみませんか。
    </p>
  </div>

  <h3>撮影事例</h3>
  <div class="row justify-content-center mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'couple1.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple2.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple3.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple4.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple5.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple6.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'couple7.png', size: "250x250", class: 'plan-icon' %>
    </div>
  </div>

</div>

<%= render "reserve" %>