<div class="top-image">
  <%= image_tag 'friends_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">

  <h3>友達フォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      現代社会ではスマホの普及により、友達と遊んだ際などで気軽に写真を撮ることが増えました。<br>
      写真がより身近になりたくさんの写真は溢れる今、他の人とは違った写真、より思い出になる写真を撮ってみませんか。
    </p>
  </div>

  <h3>撮影事例</h3>
  <div class="row mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'friends1.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends3.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends7.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends2.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends5.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends6.png', size: "250x250", class:'plan-icon' %>
      <%= image_tag 'friends4.png', size: "250x250", class:'plan-icon' %>
    </div>
  </div>

</div>