<div class="mt-3">
  <div class="bxslider">
    <div class="slider"><img class="slider-image" src="assets/image1.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image10.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image2.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image3.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image9.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image5.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image6.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image7.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image8.jpg"></div>
    <div class="slider"><img class="slider-image" src="assets/image4.jpg"></div>
  </div>
</div>
<div class="container mt-5 mb-t5">
  <h5>撮りたいシーンを選んでください</h5>
  <div class="row">
    <div class="plans">
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag '結婚式.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag '成人式.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag 'マタニティ.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag 'お子さま.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag '旅行.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag 'カップル.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag '七五三.png', size: "250x250", class:'icon' %>
      <% end %>
      <%= link_to root_path, class: 'plan-icon' do %>
        <%= image_tag '友達.png', size: "250x250", class:'icon' %>
      <% end %>
    </div>


    </div>
  </div>