<div class="top-image">
  <%= image_tag '753_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">

  <h3>七五三フォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      七五三ではスタジオ撮影が多く利用され、スタジオならではの華やかで記念となるような写真が撮れます。<br>
      それとは違ったシーンの撮影ができるのが出張撮影です。<br>
      家族で参拝をしているシーンやいつも通りの雰囲気を捉えた写真を記念にしませんか。
    </p>
  </div>

  <h3>撮影事例</h3>
  <div class="row justify-content-center mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan1.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan2.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan6.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan5.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan4.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan3.png', size: "250x250", class: 'plan-icon' %>
    </div>
    <div class="col-md3 plan-image">
      <%= image_tag 'shichigosan7.png', size: "250x250", class: 'plan-icon' %>
    </div>
  </div>

</div>

<%= render "reserve" %>