<div class="top-image">
  <%= image_tag 'trip_top.png' %>
</div>

<div class="container mt-5 mb-5 plan-show">
  
  <h3>旅行フォトについて</h3>
  <div class="row mt-3 mb-5">
    <p class="col">
      旅行先ではアクティビティをしたり、美味しいものを食べたりとたくさんの思い出ができます。<br>
      その一環として、地元のカメラマンだからこそ知っている撮影スポットで思い出を作ってみませんか。
    </p>
  </div>
  
  <h3>撮影事例</h3>
  <div class="row justify-content-center mt-3">
    <div class="col-md3 plan-image">
      <%= image_tag 'trip3.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'trip4.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'trip5.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'trip2.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'trip1.png', size: "250x250", class: 'plan-icon' %>
    </div>  
    <div class="col-md3 plan-image">  
      <%= image_tag 'trip6.png', size: "250x250", class:'plan-icon' %>
    </div>
  </div>
  
</div>

<%= render "reserve" %>