<div class="flash">
	<%= flash[:notice] %>
</div>

<div class="container mt-5 mb-5 review-index">

  <h2><%= "口コミ一覧 （全#{@reviews.count}件）" %></h2>

  <table class="table mt-5 mb-5">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>評価</th>
        <th>内容</th>
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.title_i18n %></td>
          <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
          <td>
              <details>
                <summary>詳細を開く</summary>
                <p><%= review.contents %></p>
              </details>
            </td>
          <% if admin_signed_in? %>
            <td><%= link_to 'Destroy', review_path(review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{review.id}"%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
    $('.review-evaluation').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      }
    });
  </script>

</div>
<div class="text-center mb-5">
  <%= paginate @reviews %>
</div>