<div class="container mt-5 mb-5 new-photo">
    <h2>新規写真登録</h2>

    <div class="photo-new">
      <div class="validates">
        <% if @photo.errors.any? %>
          <%= @photo.errors.count %> 件の入力ミスがあります。
          <% @photo.errors.full_messages.each do |message| %><br>
            ・<%= message %>
          <% end %>
        <% end %>
      </div>

      <%= form_with model: @photo, url: admin_homes_path, local: true do |f| %>

        <dl>
          <div class="form-group">
            <dt>投稿画像</dt>
            <dd><%= f.attachment_field :image %></dd>
          </div>
          <div class="form-group">
            <dt>タグ</dt>
            <dd><%= f.collection_select :tag_id, Tag.all, :id, :name, :prompt => "選択してください" %></dd>
          </div>
        </dl>
        <div class="form-success">
          <%= f.submit "新規登録", class:"btn btn-sm btn-dark" %>
        </div>

      <% end %>

    </div>

</div>