<div class="flash">
	<%= flash[:notice] %>
</div>

<div class="container mt-5 mb-5 tags">

  <h2>タグ追加・一覧</h2><br>

  <% if @tag.errors.any? %>
    <%= @tag.errors.count %>errors prohibited this obj from being saved:
    <% @tag.errors.full_messages.each do |message| %><br>
      ・<%= message %>
    <% end %>
  <% end %>

  <%= form_with model: [@tag], url: admin_tags_path, data: {remote: true} do |f| %>
    <div class="form-tag">
      <%= f.label :タグ名 %>
      <%= f.text_field :name, class:"col-md-2", autofocus: true, id: "text" %>
      <%= f.submit "新規登録" , class:"btn btn-sm btn-dark" %>
    </div>
  <% end %>


    <table class="table col-md-4 mt-5 mb-5">
      <thead>
        <tr>
          <th>タグ</th>
          <th colspan="1"></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody id="tag">
        <%= render 'admin/tags/index', tags: @tags %>
      </tbody>
    </table>



</div>