<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="container mt-5 mb-5 contact-edit">

  <h2>お問い合わせ：返信フォーム</h2>

  <% if @contact.errors.any? %>
    <%= @contact.errors.count %>件のエラー<br>
    <% @contact.errors.full_messages.each do |message| %>
      ・<%= message %><br>
    <% end %>
  <% end %>

  <%= form_with model: @contact, url: admin_contact_path, local: true do |f| %>
    <%= f.label :タイトル, class: "mt-2" %>
      <%= f.text_field :title_reply, class: "form-control form-title" %>
    <%= f.label :返信内容, class: "mt-4" %>
      <%= f.text_area :detail_reply, class: "form-control form-detail" %>

    <%= f.hidden_field :email, value: @contact.email %>
    <%= f.hidden_field :title, value: @contact.title %>
    <%= f.hidden_field :detail, value: @contact.detail %>
    <%= f.hidden_field :name, value: @contact.name %>

    <%= f.submit "送信", class: "btn btn-sm btn-dark mt-4" %>
  <% end %>

</div>