<div class="flash">
  <%= flash[:notice] %>
</div>

<div class="container mt-5 mb-2 contact-index">

  <h2 class="contact-title">お問い合わせ一覧</h2>

    <table class="table mt-5 mb-5">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>受信日</th>
          <th>問い合わせ内容</th>
          <th>返信内容</th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td>
              <%= link_to edit_admin_contact_path(contact) do %>
                <%= contact.title %>
              <% end %>
            </td>
            <td><%= contact.created_at.strftime('%Y年%m月%d日 %H時%M分') %></td>
            <td>
              <details>
                <summary>問い合わせ内容を開く</summary>
                <p><%= contact.detail %></p>
              </details>
            </td>
            <% if contact.present? %>
              <td><p class="contact-reply">未返信</p></td>
            <% else %>
              <td>
                <details>
                  <summary>返信内容を開く</summary>
                  <p><%= contact.detail_reply %></p>
                </details>
              </td>
            <% end %>
            <td><%= link_to 'Destroy', admin_contact_path(contact), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_contact_#{contact.id}"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>

<div class="text-center mb-5">
  <%= paginate @contacts %>
</div>