<h2><%= @contact.name %> 様</h2>

<p>
  この度は、お問い合わせありがとうございました。<br>
  以下でご質問の回答となっておりますでしょうか。
</p>

<h4>【お問い合わせ内容】</h4>
<p><%= @title %></p>
<p><%= @detail %></p>

<h4>【回答】</h4>
<p><%= @answer %></p>

<p>今後とも『Good-Memories』をどうぞ宜しくお願いいたします。</p><br>

<p><%= link_to "トップページ", "http://18.177.194.159/" %></p>