<div class="container mt-5 mb-5 new-carender">

  <h2>スケジュール管理</h2>
  
  <div class="validates">
    <% if @calender.errors.any? %>
      <%= @calender.errors.count %> 件の入力ミスがあります。
      <% @calender.errors.full_messages.each do |message| %><br>
        ・<%= message %>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: @calender, url: admin_calenders_path, local: true do |f| %>

    <div class="time mt-5">
      <%= f.label :スケジュール変更日 %><br>
      <%= f.date_field :start_time %>
    </div>

    <div class="title mt-4">
      <%= f.check_box :title, id: :true %>
      <%= f.label :撮影可%>
    </div>

    <div class="submit mt-4">
      <%= f.submit "スケジュール追加", class: "btn btn-sm btn-dark" %>
    </div>

  <% end %>

</div>