<!--<div class="fixed-top">-->
<nav class="navbar navbar-expand-lg " id="navbarHeader">

  <div class="container">

    <%= link_to image_tag("logo.png", size: "100x70"), root_path, class: "text-center" %>
      <div class="navbar navbar-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to root_path, class: 'nav-link text-light  ml-2' do %>
                プラン一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_customers_path, class: 'nav-link text-light  ml-2' do %>
                会員一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_reserves_path, class: 'nav-link text-light  ml-2' do %>
                予約履歴一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_contacts_path, class: 'nav-link text-light  ml-2' do %>
                問い合わせ一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, class: 'nav-link text-light  ml-2', method: :delete do %>
                ログアウト
              <% end %>
            </li>
          <% elsif customer_signed_in? %>
            <span class="text-center mt-2" style="color: black;">ようこそ、<%= current_customer.last_name %>さん</span>
            <li class="nav-item">
              <%= link_to customers_path, class: 'nav-link text-light  ml-2' do %>
                マイページ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-light  ml-2' do %>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to plans_path, class: 'nav-link text-light  ml-2' do %>
                プラン一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/photographs", class: 'nav-link text-light  ml-2' do %>
                写真一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to reserves_path, class: 'nav-link text-light  ml-2' do %>
                注文履歴
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to contacts_path, class: 'nav-link text-light  ml-2' do %>
                問い合わせ
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, class: 'nav-link text-light  ml-2', method: :delete do %>
                ログアウト
              <% end %>
            </li>
            <li class="nav-item reservesbtn">
              <%= button_to new_reserf_path, class: 'reservesbtn nav-link text-light  ml-2', method: :get do %>
                予約
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to about_path, class: 'nav-link text-light  ml-2' do %>
                About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/photographs", class: 'nav-link text-light  ml-2' do %>
                写真一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to plans_path, class: 'nav-link text-light  ml-2' do %>
                プラン一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class: 'nav-link text-light  ml-2' do %>
                新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_customer_session_path, class: 'nav-link text-light  ml-2' do %>
                ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>

  </nav>
  <!--</div>-->